@import 'font-awesome-ie7';
@import 'font-awesome';

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body {
  font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 25px;

  /* Large desktop */
  @media (min-width: 1200px) {

    #container{
      width: 1000px;
    }
    #title{
      float:right;
      margin-top: 50px;

      #profile{
        width: 200px;
        border-radius: 100px;
      }
    }
    #body{
      padding-top: 15px;
      width:700px;
    }
  }

  /* Normal desktop */
  @media (max-width: 1199px) and (min-width: 980px) {
    #container{
      width: 800px;
    }
    #title{
      float: right;
      margin-top: 50px;

      #profile{
        width: 200px;
        border-radius: 100px;
      }
    }
    #body{
      padding-top: 15px;
      width:500px;
    }
  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {
    #container{
      width: 600px;
    }
    #profile{
      width: 150px;
      border-radius: 75px;
    }
  }

  /* Landscape phone to portrait tablet */
  @media (max-device-width: 767px), (max-width: 767px) {
    #container{
      width: 450px;
    }
    #profile{
      width: 150px;
      border-radius: 75px;
    }
  }

  /* Landscape phones and down */
  @media (max-device-width: 480px), (max-width: 480px) {
    #container{
      width: 300px;
    }
    #profile{
      width: 100px;
      border-radius: 50px;
    }
  }

  /* Iphone 4 */
  @media only screen and (-webkit-min-device-pixel-ratio : 2) and (orientation:portrait) {
    #container{
      width: 400px;
    }
    #profile{
      width: 400px;
      border-radius: 50px;
    }
  }
}

@sub-color: #777;

#container{
  margin: auto;
  width: 50%;
  height: 100%;

  .section-title{
    font-size: 30px;
    border-bottom: solid 1px #00aced;
  }

  .section-content{
    border-top: solid 1px #DDD;
    margin-bottom: 15px;
    padding-top: 5px;
    line-height: 125%;

    li{
      color: @sub-color;
    }

    #programming-langs{
      width: 80%;
      color: @sub-color;

      .lang{
        width: 100px;
        margin: 3px;
        display: inline-block;
      }
    }
  }

  #title{
    text-align: center;

    #name{
      font-size: 50px;
      line-height: 100%;
    }

    #contact{
      margin-bottom: 5px;
    }

    #sm-logos{
      a{
        text-decoration: none;
      }

      img{
        margin-right: 15px;
      }
    }
  }

  #body{
    float: left;
    overflow-y:auto;
  }

  #education{

  }

  #experience{
    #experience-expander{
      cursor: pointer;
      color: @sub-color;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  #projects{

  }

  #skills{

  }

  #interests{

  }
}